Tests/Итоговая работа/Итоговая работа Юркин ВВ.pdf
Tests/Итоговая работа/Итоговая работа загруженность портов.ipynb
Tests/Итоговая работа/Chernomyrdin Aleksey.pdf
Tests/Итоговая работа/Port_Data.csv
Tests/Итоговая работа/Semenov_ispravleno.ipynb
Tests/Итоговая работа/Untitled-1.ipynb
